/************
* Color variables
*/
:root {
    --main-bg-color: #4aaaa5;
}

/************
* Global 
*/
body, html{
    width:100%;
    height: 100%;
}

header{
    width:100%;
    margin: 0 auto;
}

header h1{
    font-family: 'Kurale', serif;
    color:white;
}

footer{
    position: fixed;
    bottom:0;
    padding-top: 15px;
    border-top: solid 10px;
    border-color: var(--main-bg-color);
    height:50px;
    text-align: center;
    width: 100%;
    font-family: 'Kurale', serif;
}

/************ 
* Background CSS
*/

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
}

.background{
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, .8),
        rgba(40, 180, 131, .8)
    );
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    z-index: -2;
    position:fixed;
}


/************
* Copy pasta nav and footer push
*/
.navbar-brand {
    background-color: var(--main-bg-color);
    animation: moveInLeft 1s ease-out;
}

.navbar {
    padding:0;
    font-family: 'Kurale', serif;
}

.nav-item {
    animation: moveInLeft 1s ease-out .33s;
    animation-fill-mode: backwards;
}

.nav-item:hover{
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.ml-auto {
    margin-top: 7px;
    justify-content: center;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.push {
    height:75px;
}

/************
* Main
*/


.main-container{
    max-width: 900px;
    margin: 20px auto 0 auto;
    background-color: #D4D4D4;
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
}

.new-button{
    width: 300px;
    height: 105px;
    background-color: #4aaaa5;
    border-radius: 10px;
    margin: 15px 20px;
    padding: 5px 5px;
}

.new-button .textarea {
    width: 100%;
    height: 27px;
    margin: 10px auto;
    resize: none;
    border-radius: 2px;
}

.button-holder{
    text-align: center;
}

.item {
    max-width: 100%;
    margin-top: 15px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
}

/************
* BUTTONS!
*/

.main-btn--styles {
    margin: 10px 10px;
    left: 0;
}
    
.main-a-download {
    text-decoration: none;
    margin-left:15px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.main-a-download:hover{
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0, .5);
}


.active {
    cursor: pointer;
    margin-top: 5px;
}
.active:hover {
    outline: 5px solid #4aaaa5;
}
button:hover{
    transform:translateY(-4px);
    box-shadow: 0 10px 15px rgba(0,0,0, .2);
}

button:active{
    transform:translateY(-2px);
    box-shadow: 0 5rem 10rem rgba(0,0,0, .2);
}


@media only screen and (max-width: 920px) {
    .main-container{
        max-width: 720px;
    }
}

@media only screen and (max-width: 740px) {
    .main-container{
        max-width: 520px;
    }
}

@media only screen and (max-width: 540px) {
    .main-container{
        max-width: 300px;
    }

    .new-button{
        margin-left: 0;
        width: 100%;
        height: 105px;
        background-color: #4aaaa5;
        border-radius: 10px;
        padding: 5px 5px;
    }

    .item {
        max-width: 100%;
        margin-top: 15px;
        border-left: 2px;
        border-right: 2px;
        border-radius: 0;
        padding: 20px;
        position: relative;
        height: 375px;
    }

    .active{
        position: relative;
    }
    #myVideo {
        display:none;
    }

    .main-a-download {
        top: 200px;
        margin-left: 0;
        display: absolute;
    }
}
@media only screen and (max-width: 320px) {
    .container{
        margin: 0;
        padding:0;
        width:100%;
    }

    .main-container{
        width: 100%;
        padding:0px;
    }

    .item{
        width: 100%;
        padding: 0px;

    }
}